{% extends 'base.html' %}

{% load static %}


{% block content %}




<!-- FAQ -->

<div id="faq" class="FAQcontainee py-5" style="margin: 100px 0;">
  <div class="container wow fadeInUp">
    <div style="padding: 50px 0;" class="text-center wow fadeInUp px-5" data-wow-delay="0.1s">
      <h6 class="text-primary text-uppercase">// FAQ //</h6>
    <h1>Frequently Asked Questions</h1>
  </div>
</div>
  <div class='faq wow fadeInUp mb-5 px-5'>
    <input id='faq-a' type='checkbox'>
    <label for='faq-a'>
      <p class="faq-heading">Instant Install </p>
      <div class='faq-arrow'></div>
        <p class="faq-text">You can easily setup and install your iptv subscription on your favorite device, we provide full tutorials on our website to make this process easier for everyone.</p>
    </label>
    <input id='faq-b' type='checkbox'>
    <label for='faq-b'>
      <p class="faq-heading">Full HD Quality</p>
      <div class='faq-arrow'></div>
        <p class="faq-text">We offer a long list of channels, movies, and tv shows with HD, FHD, and 4k quality.</p>
    </label>
    <input id='faq-c' type='checkbox'>
    <label for='faq-c'>
      <p class="faq-heading">75,000+ Live Tv and Vods</p>
      <div class='faq-arrow'></div>
        <p class="faq-text">A complete list of all available European channels. With over 75,000 TV and VOD channels, we can offer you the most advanced channel list on the market.</p>
    </label>
    <input id='faq-d' type='checkbox'>
    <label for='faq-d'>
      <p class="faq-heading">High Quality and Speed</p>
      <div class='faq-arrow'></div>
        <p class="faq-text">Unlike other IPTV providers, CheckedTVuses a high-quality European dedicated server with a 10 Gbps connection. Opening our TV channels will take less than 0.5 seconds.</p>
    </label>
    <input id='faq-e' type='checkbox'>
    <label for='faq-e'>
      <p class="faq-heading">All Devices Supported</p>
      <div class='faq-arrow'></div>
        <p class="faq-text">The best feature of having an IPTV server is to be able to watch your favorite TV channels on all devices such as Smart TV, Smartphone, Tablet, Computer, Android Box, etc.</p>
    </label>
      <input id='settings' type='checkbox'>
    <input id='faq-f' type='checkbox'>
    <label for='faq-f'>
      <p class="faq-heading">Money Saver</p>
      <div class='faq-arrow'></div>
        <p class="faq-text">No need to pay for multiple streaming platform subscriptions and cable services! You get everything with a fraction of the price with CheckedipTV.</p>
    </label>
  </div>
</div>



<!-- FAQ -->
  
{% endblock content %}
  