{% load static %}


<footer>


  <section class="inner-footer">

    
    <ul class="ul-container">
      
      <li class="item">
        <ul>
          <li>
            <img style="width: 200px;" src="{% static 'img/iptvlogo.png' %}" alt="" class="footer-logo">
          </li>
          <li class="my-4">
            Unrivaled IPTV streaming with
            9,000+ channels, live sports, movies
            & TV shows. Seamless viewing on
            multiple devices, affordable pricing.

          </li>
        </ul>
      </li>

      <li class="item">
        <h3 class="title">about</h3>
        <ul>
          <li><a href="#">arrondissement d'El Maarif, Casablanca-Settat</a></li>
          <li><a href="#">+212 656704275</a></li>
          <li><a href="#">supurt@gmail.com</a></li>
        </ul>
      </li>

      <li class="item ">
        <h3 class="title">links</h3>
        <ul>
          <li><a href="#">about</a></li>
          <li><a href="#">customers</a></li>
          <li><a href="#">contact us</a></li>
          <li><a href="#">konledge base</a></li>
          <li><a href="#">demo</a></li>
        </ul>
      </li>

    </ul>
    <div class="copyright">
      Copyright &copy; <script>document.write(new Date().getFullYear())</script><a href="#"> CompanyName </a>  All Rights Reserved.
    </div>
  </section>


</footer>
<!-- Footer End -->